body {
    font-family: Arial, sans-serif;
    margin: 0;
}

main {
    max-width: 450px;
    margin: 0 auto;
    padding: 1rem;
}

img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 1rem auto;

    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: brightness(0);
    }

    to {
        opacity: 1;
        filter: brightness(1);
    }
}