* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}

header {
    background-color: #2b3a67;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    padding: .75rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #444;
}

main {
    max-width:800px;
    margin: 0 auto;
    padding: 1rem;
}

main h2 {
    text-align: center;
}

footer {
    background-color: #2b3a67;
    color: white;
    text-align: center;
    padding: 1rem;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

figure {
    text-align: center;
}

figure img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
}

#menu {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: none;
    flex-direction: column;
}

.navigation.open {
    display: flex;
}