@media screen and (min-width: 768px) {

    .weather h2::after {
        content: " ☀️";
        margin-left: 15px;
        font-size: 2rem;
    }

    .weather-icon {
        display: none;
    }

}

